<template>
  <div class="chat">
    <div v-if="maxTextWidth">
      <MCText v-for="msg in messages" :key="msg.id" :maxTextWidth="maxTextWidth" :text="formatContent(msg)" defaultColor="ffffff"/>
    </div>
  </div>
</template>

<script>
import MCText from '@/components/MCText.vue'
import { setTimeout } from 'timers';

let es

export default {
  components: {
    MCText
  },
  data () {
    return {
      messages: [],
      maxTextWidth: null
    }
  },
  watch: {
    messages () {
      if (this.$el) {
        setTimeout(() => {
          this.$el.scrollTop = this.$el.scrollHeight
        }, 0)
      }
    }
  },
  methods: {
    transparent (text, from, to) {
      return '\xA7#36393f' + text.replace(/\xA7(#.{6}|.)/g, '').slice(from, to) + '\xA7r'
    },
    formatContent (msg) {
      const message = { ...msg }
      message.content = message.content.replace(/<a?(:\w+:)\d+>/g, '\xA77$1\xA7r')
      let str = ''
      let role = message.role && message.role.match(/[\w ]+/)
      if (role) role = role[0].trim()
      if (message.color && !message.color.startsWith('#')) message.color = '#' + message.color
      if (role || message.bot) {
        if (message.bot) str += '\xA7#ffffff['
        else str += '\xA77['
        if (message.bot) {
          str += '\xA7#7289da\xA7lBot'
        } else {
          if (message.color) str += '\xA7' + message.color
          else str += '\xA7#ffffff'
          if (role.startsWith('Developer')) str += '\xA7l'
          str += role
        }
        if (message.bot) str += '\xA7#ffffff] '
        else str += '\xA77] '
      }
      if (message.color) str += '\xA7' + message.color
      else str += '\xA7#ffffff'
      str += message.name
      str += `\xA7#ffffff: ${message.content}`

      return str.replace(/ *\n */, '\n' + this.transparent(str, 0, (message.bot ? 3 : role.length) + message.name.length + 5))
    },
    updateMaxTextWidth () {
      this.maxTextWidth = this.$el.clientWidth - 24
    }
  },
  created () {
    es = new EventSource('/chat')
    es.onmessage = e => {
      const data = JSON.parse(e.data)
      if (this.messages.findIndex(message => message.id === data.id) > -1) return
      this.messages.push(data)
      if (this.messages.length > 100) messages.shift()
    }
  },
  mounted () {
    this.updateMaxTextWidth()
    window.addEventListener('resize', () => {
      this.updateMaxTextWidth()
    })
  },
  destroyed () {
    if (es) {
      es.close()
      es = null
    }
  },
}
</script>

<style lang="scss">
.chat {
  background: #36393F;
  padding: 8px;

  .mc-text {
    display: block;
    padding: 4px;
  }
}
</style>
