<template>
  <canvas class="mc-text"></canvas>
</template>

<script>
const charMap = [
  '                ',
  '                ',
  ' !"#$%&\'()*+,-./',
  '0123456789:;<=>?',
  '@ABCDEFGHIJKLMNO',
  'PQRSTUVWXYZ[\\]^_',
  '`abcdefghijklmno',
  'pqrstuvwxyz{|}~ ',
  '                ',
  '                ',
  '                ',
  '                ',
  '                ',
  '                ',
  '                ',
  '                ',
].join('')
const mapSize = [ 16, 16 ]
const charSize = [ 8, 8 ]

const styleColors = {
  4: [ 170, 0, 0 ],
  c: [ 255, 85, 85 ],
  6: [ 255, 170, 0 ],
  e: [ 255, 255, 85 ],
  2: [ 0, 170, 0 ],
  a: [ 85, 255, 85 ],
  b: [ 85, 255, 255 ],
  3: [ 0, 170, 170 ],
  1: [ 0, 0, 170 ],
  9: [ 85, 85, 255 ],
  d: [ 255, 85, 255 ],
  5: [ 170, 0, 170 ],
  f: [ 255, 255, 255 ],
  7: [ 170, 170, 170 ],
  8: [ 85, 85, 85 ],
  0: [ 0, 0, 0 ],
}

export default {
  props: {
    text: String,
    shadow: Boolean,
    lineMargin: Number,
    defaultColor: String,
    maxTextWidth: Number,
  },
  data () {
    return {
      fontImg: null
    }
  },
  watch: {
    text () {
      this.update()
    },
    shadow () {
      this.update()
    },
    maxTextWidth () {
      this.update()
    }
  },
  methods: {
    update () {
      const canvas = this.$el
      const ctx = canvas.getContext('2d')

      const { text, shadow, fontImg, defaultColor, maxTextWidth } = this
      if (!fontImg) return this.fetchImg()

      let lineMargin = this.lineMargin
      if (!(lineMargin > 0)) lineMargin = 1
      const lineHeight = charSize[1] + lineMargin

      canvas.width = Math.max(Math.max(...text.split('\n').map(l => l.length)) * (charSize[0] + 2), mapSize[0] * charSize[0])
      canvas.height = Math.max(text.split('\n').length * lineHeight, mapSize[1] * charSize[1])

      ctx.drawImage(fontImg, 0, 0)
      const font = ctx.getImageData(0, 0, fontImg.width, fontImg.height)
      ctx.clearRect(0, 0, canvas.width, canvas.height)
      const display = new ImageData(canvas.width, canvas.height)

      const lines = text.split('\n')
      let longestLine = 0
      let displayWidth = 0
      const style = {
        color: [ 255, 255, 255 ],
        bold: false,
        italic: false,
        underline: false,
        strikethrough: false,
      }
      for (let l = 0; l < lines.length; l++) {
        const line = lines[l]
        let offset = 0
        let lineLength = 0
        for (let i = 0; i < line.length; i++) {
          const char = line[i]
          if (char === ' ') {
            if (style.strikethrough) {
              for (let cX = 0; cX < 5; cX++) {
                const displayIndex = ((l * lineHeight + Math.round(charSize[1] / 2 - 1)) * display.width + offset + cX) * 4
                display.data[displayIndex] = style.color[0]
                display.data[displayIndex + 1] = style.color[1]
                display.data[displayIndex + 2] = style.color[2]
                display.data[displayIndex + 3] = 255
                if (style.bold) {
                  display.data[displayIndex + 4] = style.color[0]
                  display.data[displayIndex + 5] = style.color[1]
                  display.data[displayIndex + 6] = style.color[2]
                  display.data[displayIndex + 7] = 255
                }
              }
            }
            if (style.underline) {
              for (let cX = 0; cX < 5; cX++) {
                const displayIndex = ((l * lineHeight + charSize[1]) * display.width + offset + cX) * 4
                display.data[displayIndex] = style.color[0]
                display.data[displayIndex + 1] = style.color[1]
                display.data[displayIndex + 2] = style.color[2]
                display.data[displayIndex + 3] = 255
                if (style.bold) {
                  display.data[displayIndex + 4] = style.color[0]
                  display.data[displayIndex + 5] = style.color[1]
                  display.data[displayIndex + 6] = style.color[2]
                  display.data[displayIndex + 7] = 255
                }
              }
            }
            offset += 5
          } else if (char === '\xA7') {
            const styleChar = line[++i]
            if (styleColors[styleChar]) {
              style.color = styleColors[styleChar]
              style.bold = false
              style.italic = false
              style.underline = false
              style.strikethrough = false
            } else if (styleChar === 'r') {
              style.color = styleColors.f
              style.bold = false
              style.italic = false
              style.underline = false
              style.strikethrough = false
            } else if (styleChar === 'l') {
              style.bold = true
            } else if (styleChar === 'o') {
              style.italic = true
            } else if (styleChar === 'n') {
              style.underline = true
            } else if (styleChar === 'm') {
              style.strikethrough = true
            } else if (styleChar === '\xA7') {
            } else if (styleChar === '#') {
              const hex = line.slice(i + 1, i + 7)
              i += 6
              style.color = [
                parseInt(hex[0], 16) * 16 + parseInt(hex[1], 16),
                parseInt(hex[2], 16) * 16 + parseInt(hex[3], 16),
                parseInt(hex[4], 16) * 16 + parseInt(hex[5], 16),
              ]
              style.bold = false
              style.italic = false
              style.underline = false
              style.strikethrough = false
            }
          } else if (charMap.indexOf(char) > -1) {
            if (maxTextWidth && (lineLength + charSize[0] > maxTextWidth / 2)) {
              lines.splice(l + 1, 0, ' ' + line.slice(i, line.length))
              break
            }

            const charPos = (Math.floor(charMap.indexOf(char) / mapSize[0]) * mapSize[0]  * charSize[1] + charMap.indexOf(char) % mapSize[0]) * charSize[0] * 4
            let charWidth = 0
            for (let cX = 0; cX < charSize[0]; cX++) {
              for (let cY = 0; cY < charSize[1]; cY++) {
                const fontIndex = charPos + (cY * font.width + cX) * 4
                if (font.data[fontIndex + 3] > 0) {
                  if (cX > charWidth) charWidth = cX
                  else if (style.bold && cX === charWidth) charWidth++
                  let italicOffset = 0
                  if (style.italic) {
                    if (cY < charSize[0] / 8) italicOffset += Math.round(charSize[1] / 8)
                    if (cY < charSize[0] / 8 * 5) italicOffset += Math.round(charSize[1] / 8)
                  }
                  const displayIndex = ((l * lineHeight + cY) * display.width + offset + cX + italicOffset) * 4
                  display.data[displayIndex] = style.color[0]
                  display.data[displayIndex + 1] = style.color[1]
                  display.data[displayIndex + 2] = style.color[2]
                  if (style.bold) {
                    display.data[displayIndex + 4] = style.color[0]
                    display.data[displayIndex + 5] = style.color[1]
                    display.data[displayIndex + 6] = style.color[2]
                    display.data[displayIndex + 7] = font.data[fontIndex + 3]
                  }
                  display.data[displayIndex + 3] = font.data[fontIndex + 3]
                }
              }
            }
            if (style.strikethrough) {
              for (let cX = 0; cX < (charWidth + 2); cX++) {
                const displayIndex = ((l * lineHeight + Math.round(charSize[1] / 2 - 1)) * display.width + offset + cX) * 4
                display.data[displayIndex] = style.color[0]
                display.data[displayIndex + 1] = style.color[1]
                display.data[displayIndex + 2] = style.color[2]
                display.data[displayIndex + 3] = 255
                if (style.bold) {
                  display.data[displayIndex + 4] = style.color[0]
                  display.data[displayIndex + 5] = style.color[1]
                  display.data[displayIndex + 6] = style.color[2]
                  display.data[displayIndex + 7] = 255
                }
              }
            }
            if (style.underline) {
              for (let cX = 0; cX < (charWidth + 2); cX++) {
                const displayIndex = ((l * lineHeight + charSize[1]) * display.width + offset + cX) * 4
                display.data[displayIndex] = style.color[0]
                display.data[displayIndex + 1] = style.color[1]
                display.data[displayIndex + 2] = style.color[2]
                display.data[displayIndex + 3] = 255
                if (style.bold) {
                  display.data[displayIndex + 4] = style.color[0]
                  display.data[displayIndex + 5] = style.color[1]
                  display.data[displayIndex + 6] = style.color[2]
                  display.data[displayIndex + 7] = 255
                }
              }
            }

            if (lineLength < (offset + charWidth + 1)) lineLength = offset + charWidth + 1
            offset += charWidth + 2
          }
        }
        if (displayWidth < lineLength) displayWidth = lineLength
      }
      if (shadow) {
        displayWidth++
        const shadowIndexes = []
        for (let y = 0; y < display.height; y++) {
          for (let x = 0; x < display.width; x++) {
            const index = (y * display.width + x) * 4
            if (display.data[index + 3] > 0 && !shadowIndexes.includes(index)) {
              const shadowIndex = index + display.width * 4 + 4
              if (display.data[shadowIndex + 3] === 0) {
                shadowIndexes.push(shadowIndex)
                display.data[shadowIndex] = Math.floor(display.data[index] * .25)
                display.data[shadowIndex + 1] = Math.floor(display.data[index + 1] * .25)
                display.data[shadowIndex + 2] = Math.floor(display.data[index + 2] * .25)
                display.data[shadowIndex + 3] = display.data[index + 3]
              }
            }
          }
        }
      }

      canvas.width = displayWidth
      canvas.style.width = canvas.width * 2 + 'px'
      canvas.height = Math.max(0, lines.length * lineHeight - lineMargin + (shadow ? 1 : 0))
      canvas.style.height = canvas.height * 2 + 'px'
      ctx.putImageData(display, 0, 0)
      this.$emit('drawn')
    },
    fetchImg () {
      const img = new Image()
      img.onload = () => {
        this.fontImg = img
        this.update()
      }
      img.src = '/images/font.png'
    }
  },
  mounted () {
    if (!this.fontImg) {
      this.fetchImg()
    } else {
      this.update()
    }
  }
}
</script>

<style>
.mc-text {
  image-rendering: pixelated;
}
</style>
