<template>
  <div id="app">
    <Home id="app-view"/>
  </div>
</template>

<script>
import Home from './views/Home.vue'

export default {
  components: {
    Home
  }
}
</script>


<style lang="scss">
body {
  margin: 0;
}
#app {
  height: 100vh;
}
#app-view {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
